<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login y Register</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="assets/css/login.css">
</head>
<body>
 <main  id="app">
            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-register">
                        <h3>Don't you have account ?</h3>
                        <p>become a client </p>
                        <a href="./register.html"><button id="btn__registrarse" >Register </button></a>
                        
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div  class="contenedor__login-register">
                    <!--Login-->
                    <form action="#" method="post" @submit.prevent="login" class="formulario__login validate-form">
                        <h2>Login</h2>
                        <input v-model="email" required="" type="text" placeholder="email">
                        <input v-model="password" required=""  type="password" placeholder="passward">
                        <button>login</button>
                    </form>
                </div>
            </div>

        </main>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="./assets/js/login.js"></script>
</body>
</html>